{% extends 'base.html' %}

{% block title %}بازیابی رمزعبور{% endblock %}

{% block content %}
<div style="max-width:400px; margin:100px auto; background:#fff; padding:30px; border-radius:16px; box-shadow:0 0 10px rgba(0,0,0,0.1);">
    <div style="text-align:center; font-weight:bold; font-size:22px; margin-bottom:20px;">فعال‌سازی رمز عبور</div>

    <form method="post" novalidate>
        {% csrf_token %}

        <div class="mb-3">
            {{ ForgotPasswordCodeForm.code }}
            {% for error in ForgotPasswordCodeForm.code.errors %}
                <div style="color:red; font-size:13px; margin-top:4px;">{{ error }}</div>
            {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary w-100"
                style="border-radius:8px; font-size:16px; padding:10px 0;">
            تایید کد
        </button>
    </form>

     <div style="text-align:center; margin-top:15px;">
        <form method="post" action="{% url 'resend_code_for_forgot_password' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-secondary w-100"
                    style="border-radius:8px; font-size:15px; padding:8px 0;">
                ارسال مجدد کد فعال‌سازی
            </button>
        </form>
        <div style="font-size:13px; color:#666; margin-top:8px;">
            اگر کد قبلی را دریافت نکرده‌اید، می‌توانید کد جدید درخواست کنید.
        </div>
    </div>
</div>
{% endblock %}
