{% extends 'base.html' %}
{% load custom_filters %}
{% load thumbnail %}
{% block title %}
	تخفیف ویژه
{% endblock %}
{% block content %}
	<div class="pages-bnaer text-center">
         <div class="container">
             <h3>تخفیف ویژه</h3>
         </div>
      </div>
    <div class="container">
         <div class="row">
             {% if products %}
                 {% for product in products %}
                    <div class="col-md-3">
                     <div class="">
                       <a href="{% url 'product_detail' category_slug=product.category.parent.slug subcategory_slug=product.category.slug pk=product.pk %}">
                        <figure>
                            {% thumbnail product.image "225x225" crop="center" as im %}
                                <img src="{{ im.url }}">
                            {% endthumbnail %}
                        </figure>
                       </a>
                        <h6 class="title-limit">
                            <i class="fa fa-title"></i>{{ product.title|truncatechars:60 }}
                        </h6>
                        <h6>
                            <span style="text-decoration: line-through;">{{ product.price|price_format }} تومان</span>
                            <strong class="f-dark text-danger">{{ product.final_price|price_format }} تومان</strong>
                         </h6>
                     </div>
                    </div>
                {% endfor %}
             {% else %}
                 <h5>درحال حاضر محصولی در تخفیف نمی باشد</h5>
             {% endif %}

         </div>
      </div>
    <br>
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">قبلی</a>
      </li>
    {% endif %}

    {% for pageNumber in paginator.page_range %}
      <li class="page-item {% if page_obj.number == pageNumber %}active{% endif %}">
        <a class="page-link" href="?page={{ pageNumber }}">{{ pageNumber }}</a>
      </li>
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">بعدی</a>
      </li>
    {% endif %}
  </ul>
</nav>
{% endblock %}